@mixin mobile {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin mobilexs {
  @media screen and (max-width: 480px) {
    @content;
  }
}

.featuredProducts {
  margin: 60px 80px;
  position: relative;

  @include mobile {
    margin: 20px;
  }
  @include mobilexs {
    margin: 10px 0;
  }

  .scrolls {
    width: fit-content;
    display: flex;
    bottom: 50%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    z-index: 999;

    .scroll {
      width: 50px;
      height: 80px;
      border: 1px solid #999;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: white;
      background-color: black;
      opacity: 0.9;
      cursor: pointer;

      @include mobile{
        width: 35px;
        height: 70px;
      }

      @include mobilexs{
        width: 20px;
        height: 35px;
      }
      

      &:hover, &:active{
        opacity: 1;
      }
    }

    .scrollLeft{
        position: absolute;
        left: -50vw;
        display: flex;
        justify-content: center;
    }

    .scrollRight{
        position: absolute;
        display: flex;
        justify-content: center;
        right: -50vw;
    }
  }

  .top {
    display: flex;

    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    margin-bottom: 50px;

    @include mobile {
      flex-direction: column;
      gap: 5px;
      margin-bottom: 10px;
    }

    h1 {
      flex: 2.2;
      text-transform: capitalize;

      @include mobile {
        font-size: 23px;
      }

      @include mobilexs {
        font-size: 18px;
      }
    }

    p {
      flex: 3;
      color: gray;

      @include mobile {
        font-size: 14px;
      }

      @include mobilexs {
        font-size: 11px;
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    overflow-x: scroll;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    @include mobile {
      gap: 6px;
      overflow-x: scroll;
    }

    @include mobilexs {
      gap: 4px;
      overflow-x: scroll;
    }
  }
}

.swiper-pagination-bullet {
  display: inline-block;
  width: 8px;
  height: 8px;
}