@mixin mobile{
    @media screen and (max-width: 800px){
        @content;
    }
}

@mixin mobilexs{
    @media screen and (max-width: 480px){
        @content;
    }
}

.card{
    width: 240px;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 30px;

    @include mobile{
        gap: 5px;
        margin-bottom: 10px;
        width: 190px;
    }
    @include mobilexs{
        gap: 3px;
        margin-bottom: 8px;
        width: 130px;
        min-width: 120px;
    }

    .image{
        width: 100%;
        height: 380px;
        overflow: visible;
        position: relative;

        @include mobile{
            height: 290px;  
        }
        @include mobilexs{
            height: 180px; 
            min-height: 175px; 
        }

        &:hover, &:active{
            .secondImg{
                z-index: 2;
            }

            #view{
                display: block;
                display: flex;
            }
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .mainImg{
            z-index: 1;
        }

        span {
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: whitesmoke;
            color: teal;
            padding: 3px 5px;
            z-index: 4;
            font-size: 9px;
            font-weight: bold;

            @include mobilexs{
                font-size: 4px;  
            }
        }

        #view{
            position: absolute;
            bottom: 0;
            font-size: 13px;
            font-weight: bold;
            width: 100%;
            height: 40px;
            z-index:6;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba($color: #e7e2e2, $alpha: 0.8);
            display: none;

            @include mobile{
                height: 30px;
            }

            @include mobilexs{
                height: 25px;
                font-size: 12px;
            }
        }

        #favourite{
            color: red;
            position: absolute;
            top: 2%;
            right: 2%;
            z-index: 5;
            cursor: pointer;

            @include mobilexs{
                font-size: 15px;
            }
        }

        #notFavor{
            color: black;
            position: absolute;
            top: 2%;
            right: 2%;
            z-index: 5;
            cursor: pointer;

            @include mobilexs{
                font-size: 15px;
            }
        }
        
    }

    h2{
        font-size: 14px;
        font-weight: 400;

        @include mobile{
            font-size: 13px;
        }

        @include mobilexs{
            font-size: 10px;
        }
    }

    .prices{
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
             gap: 10px;   
        }

        @include mobilexs{
                gap: 6px;
        }

        h3{
            font-size: 14px;
            font-weight: bold;

            @include mobile{
                font-size: 13px;
            }

            @include mobilexs{
                font-size: 10px;
            }

            &:first-child{
                text-decoration: line-through;
                color: gray;
            }

            &:last-child{
                color: blue;
            }
        }
    }
}